<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451930265347-jhvom0fh4t5no2vkifqbsh6fjpd1qgue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451930265347-jhvom0fh4t5no2vkifqbsh6fjpd1qgue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451930265347-154u3po8su0dmn80882qrmkoorj925l7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Gv_rqo4GlAjbX0R5LQvUe-IZ0NAaaSc</string>
	<key>GCM_SENDER_ID</key>
	<string>451930265347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hr.emp.app</string>
	<key>PROJECT_ID</key>
	<string>alche-hr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alche-hr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451930265347:ios:5e23158b1c989cc1163b36</string>
	<key>DATABASE_URL</key>
	<string>https://alche-hr-app.firebaseio.com</string>
</dict>
</plist>